{% extends 'polls/main.html' %}
{% block title %}{{ order }}{% endblock %}
{% block orders_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'polls:index' %}">
                            <h3>Вернуться к заказам</h3>
                    </a>
                    <h1>Уважаемый, {{ order.user }} </br> <small> Ваш заказ на дату:{{ order.booking_time }}</small></h1>
                    <h2>Предварительный счет: {{ order.bill }}</h2>
                    <h5>Статус заказа: {{ order.status }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}